---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=OPEN_WEATHER_API_KEY&q=santiago,%20chi&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-70.65,"lat":-33.46},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":68.67,"feels_like":64.56,"temp_min":68,"temp_max":70,"pressure":1018,"humidity":45},"visibility":10000,"wind":{"speed":5.82,"deg":210},"clouds":{"all":0},"dt":1599769794,"sys":{"type":1,"id":8506,"country":"CL","sunrise":1599734880,"sunset":1599777068},"timezone":-10800,"id":3871336,"name":"Santiago","cod":200}'
  recorded_at: Thu, 10 Sep 2020 20:32:35 GMT
recorded_with: VCR 6.0.0
