---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=0210d7031ecffc3658e6084bb5b325b6&q=santiago,%20chi&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-70.65,"lat":-33.46},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":67.15,"feels_like":63.14,"temp_min":66.2,"temp_max":69.01,"pressure":1021,"humidity":48},"visibility":8000,"wind":{"speed":5.82,"deg":230},"clouds":{"all":2},"dt":1599760265,"sys":{"type":1,"id":8506,"country":"CL","sunrise":1599734880,"sunset":1599777068},"timezone":-10800,"id":3871336,"name":"Santiago","cod":200}'
  recorded_at: Thu, 10 Sep 2020 17:52:43 GMT
recorded_with: VCR 6.0.0
