---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=0210d7031ecffc3658e6084bb5b325b6&q=denver,%20co,%20usa&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"base":"stations","main":{"temp":46.15,"feels_like":41.47,"temp_min":44.01,"temp_max":48,"pressure":1028,"humidity":70},"visibility":10000,"wind":{"speed":3.36,"deg":360},"clouds":{"all":90},"dt":1599760306,"sys":{"type":1,"id":3449,"country":"US","sunrise":1599741419,"sunset":1599787003},"timezone":-21600,"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Thu, 10 Sep 2020 17:52:42 GMT
recorded_with: VCR 6.0.0
