---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=OPEN_WEATHER_API_KEY&q=salt%20lake%20city&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-111.89,"lat":40.76},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"base":"stations","main":{"temp":67.33,"feels_like":57.63,"temp_min":66,"temp_max":69.8,"pressure":1023,"humidity":15},"visibility":10000,"wind":{"speed":8.05,"deg":350},"clouds":{"all":20},"dt":1599769667,"sys":{"type":1,"id":5859,"country":"US","sunrise":1599743040,"sunset":1599788698},"timezone":-21600,"id":5780993,"name":"Salt
        Lake City","cod":200}'
  recorded_at: Thu, 10 Sep 2020 20:32:36 GMT
recorded_with: VCR 6.0.0
